.canvas {
  border: 1px solid black;
  max-width: 400px;
  width: 100%; /* make it shrink naturally */
  height: auto;
}

/* For very small screens ≤400px */
@media (max-width: 430px) {
  .canvas {
    max-width: 130px;
  }
}